// Colors
$orange: #ffac41;
$marroon: #d7385e;
$lightBlue: #faf4ff;

// Base Styles

body {
    font-family: "Palanquin Dark", sans-serif;
    font-size: 21px;
    color: #000000;
    letter-spacing: 0;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
}
h2 {
    font-family: "Palanquin Dark", sans-serif;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    font-weight: 500;
}
h3 {
    font-family: "Palanquin Dark", sans-serif;
    font-size: 21px;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
}


